* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movies {
    width: 100%;
    text-align: center;
}

.title {
    width: 100%;
    text-align: center;
    margin: 10px;
}


button {
    width: 200px;
    margin: 10px;
    padding: 4px;
    outline: none;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(23, 133, 211);
    color: #fff;
    transform: translateY(-3px);
    transition: all 0.3s;
}

button:focus {
    background-color: rgb(225, 65, 65);
    color: #fff;
}

.text {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    font-weight: bold;

    text-align: center;
}

/*===========================*/

.movie-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    height: 250px;
    min-width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

img {
    width: 100%;
    height: 50%;
    border: none;
    object-fit: cover;
    margin-bottom: 8px;
}

.card span {
    padding-left: 10px;
    width: 100%;
    height: 25px;
    font-size: 10px;
}

strong {
    color: #56c870;
}