body {
    height: 100vh;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: url(asset/Hogwarts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.image-frame {
    width: 280px;
    height: 380px;
    overflow: hidden;
}

.house-image {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    border-radius: 15px;
}

.paraGraf {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.nameLabel {
    color: #fff;
}

.name-holder {
    outline: none;
    padding: 8px;
    border-radius: 5px;
    opacity: 0.4;
    border: 2px solid lightblue;
    font-size: 16px;
}

.name-holder::placeholder {
    font-size: 12px;
}

.name-holder,
.paraGraf {
    text-align: center;
}

.click-btn {
    cursor: pointer;
}

@keyframes scaleAnime {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(1) rotate(720deg);
        opacity: 0.8;
    }

    70% {
        transform: scale(1.35) rotate(720deg);
        opacity: 0.7;
    }

    85% {
        transform: scale(1.15) rotate(720deg);
        opacity: 0.65;
    }

    100% {
        transform: scale(1) rotate(720deg);
        opacity: 0.6;
    }
}